<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Tracker</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            Hello, «{{ user.username }}« |
            <form method="post" action="{% url 'logout'%}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>